############

# Unity3D .gitignore file.

# Store this file at the root of your local repository.

.DS_Store

Library/AssetImportState

Library/AssetServerCacheV3

Library/FailedAssetImports.txt

Library/ScriptAssemblies

Library/ScriptMapper

Library/assetDatabase3

Library/cache

Library/expandedItems

Library/metadata

Library/previews

Library/guidmapper

Assets/secretkey

Assets/Entities/imports/Materials.meta

Assets/Textures/Thumbs.db.meta

Assets/Textures/icons/Thumbs.db.meta

Assets/Textures/icons/desktop.ini.meta

Temp

*.csproj

*.pidb

*.sln

build

############